.wrapper {
    display: flex;
    text-decoration: none;
    transition: all 0.4s;
  }
  
  #sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #B1E693;
    color: #EC9CD3;
    transition: all 0.4s;
    height: 100vh;
    font-size: 20px;
  }
  
  #sidebar.active {
    margin-left: -250px;
    
  }
  
  #sidebar .sidebar-header {
    padding: 20px;
    background: #EDF6E5;
  }
  
  #sidebar ul.components {
    padding: 20px 0;

  }
  
  #sidebar ul p {
    color: #6ECB63;
    padding: 10px;
  }
  
  #sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }
  
  #sidebar ul li a:hover {
    color: #6ECB63;
    background: #4a108b;
  }
  
  #sidebar ul li.active>a,
  a[aria-expanded="true"] {
    color: #fff;
    background: #EC9CD3;
  }
  
  a[data-toggle="collapse"] {
    position: relative;
  }
  
  .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
  }
  
  ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6ECB63;
  }
  .container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image td, .table-image th {
    vertical-align: middle;
  }
  .button{
    border: 2px solid #a31844;
  }
  .button:hover {
    background-color: #9dc49e;
    color: white;
  }
  .container{
    padding: top 100px;;
    font-size: large;
    text-indent: 40px;
  }
  table, th, td {
    border: 1px solid;
  }
    th {
      height: 50px;
    }
    td {
      text-align: center;
    }
    tr:hover {background-color: rgb(91, 182, 221);}
    .button{
      color:#B1E693;
    }
    .btn{
      transition-duration: 0.4s;
    }
    
    .btn:hover {
      background-color: #c55959;
      color: white;
    }
    .container {
      border: 1px solid;
      width:60%;
      margin-left: auto;
      margin-right: auto;
      font-size:20px;
      border-collapse: collapse;
      box-shadow: 0 20px 20px  #F6F5F5;
      border-radius:9px 9px;
      overflow: hidden;
  
    }
    .audbut {
     text-align: center;
    }